*{
    padding: 0;
    margin: 0;
}
body{
    width: 85vw;
    margin: 0 auto;
}
/* font */

/* quicksand-font */
.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* raleway-font */
.raleway-font{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}

/* header */

/* nv-container */
.nv-container{
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
}
/* nv-logo */
.nv-logo{
    gap: 10px;
    align-items: center;
}
.nv-logo h2{
    font-weight: bold;
    font-size: 2rem;
}
/*  nv-anc*/
.nv-anc{
    font-size: 1.25rem;
    font-weight: bold;
    gap: 30px;
    list-style: none;
}
.nv-anc a{
    text-decoration: none;    
}
.home a{
    color: orange;
}
.about a{
    color: skyblue;
}
.faci a{
    color: #05D4DF;
}
.admission a{
    color: #5D58EF;
}

/* nv-contact */
.nv-contact h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background-color: orange;
    padding: 10px 60px;
    border-radius: 12px;
}

.hamburger{
    display: none;
}

/* section-2 */ 
.banner{
    justify-content: space-between;
    align-items: center;
}
/* banner heading */
.banner-content h1{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 34px;
}
.s1{
    color: orange;
}
.s2{
    color: skyblue;
}

/* banner title */
.banner-content p{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 24px;
}
/* banner-button */
.banner-content button{
    font-size: 1.25rem;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 10px 47px;
}

/* main */
/* section-1 */
.curriculum{
    background-image: url(../assets/bg.png);
    position: relative;
    
    left: calc(-7.5vw);
    width: 100vw;
}
.contant{
    width: 85vw;
    margin: 0 auto;
    margin-bottom: 80px;
}
.contant h2{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    color: #000000;
    padding: 60px 0 80px 0;
}

.card-1{
    justify-content: space-between;
    gap: 24px;
    
}
.card{
    border-radius: 18.86px;
    
    width: 350px;
    height: 377px;
    padding: 52px 40px;
    text-align: center;
}
/* card-1 */
.sub-card-1{
    background: linear-gradient(to bottom, #effaff, #ffffff);
    box-shadow: 0 0 28.3px .95px #effaff;
}
.sub-card-1 button{
    color: #64C8FF;
}
/* card-2 */
.sub-card-2{
    background: linear-gradient(to bottom, #fcf7ef, #ffffff);
    box-shadow: 0 0 28.3px .95px #fffaf1;
}
.sub-card-2 button{
    color: #F0AA00;
}
/* card-3 */
.sub-card-3{
    background: linear-gradient(to bottom, #f7f2ff, #ffffff);
    box-shadow: 0 0 28.3px .95px #fffaf1;
}
.sub-card-3 button{
    color: #8700FF;
}
.card img{
    margin-bottom: 32px;
}
.card h3{
    margin-bottom: 34px;
    font-weight: bold;
    font-size: 24.52px;
    line-height: 30.7px;
    color: #202020;
}
.card p{
    margin-bottom: 34px;
    font-size: 15.09px;
    font-weight: 400;
    line-height: 28.03px;
    color: #808080;
}
.card button{
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: 15.09px;
}
.more{
    gap: 10px;
    justify-content: center;
    margin-bottom:80px;
}

.more-1 p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: orange;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.more-2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: orange;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}